{% extends 'admin_template/base.html' %}
{% load static %}
{% block body%}

<style>
   td , th , tr
{
    text-align:center;
}
</style>

<div id="content-page" class="content-page">
    <div class="container-fluid">
       <div class="row">
          <div class="col-sm-12">
             <div class="iq-card">
                <div class="iq-card-header d-flex justify-content-between">
                   <div class="iq-header-title">
                      <h4 class="card-title">sub categories</h4>
                   </div>
                   {% comment %} <div class="iq-search-bar">
                     <form action="#" class="searchbox">
                        <input type="text" class="text search-input" placeholder="Type here to search...">
                        <a class="search-link" href="#"><i class="ri-search-line"></i></a>
                     </form>
                  </div> {% endcomment %}
                </div>
                <div class="iq-card-body">
                   <div id="table" class="table-editable">
                      <span class="table-add float-right mb-3 mr-2">
                        
                        <a type="submit" href="{% url 'add_subcategory' %}" class="btn btn-primary mb-3">Add
                        </a>
                        
                        </span>
                      <table id="tableID" class="table table-bordered table-responsive-md table-striped text-center ">
                         <thead>
                            <tr >
                                <th style="text-align: center">Category name</th>
                               <th style="text-align: center">sub category name</th>
                               <th style="text-align: center">sub category image</th>
                               <th style="text-align: center">sub category code</th>
                               
                               <th style="text-align: center">Action</th>
                               
                            </tr>
                         </thead>
                         <tbody>
                            {%for data in data%}
                            <tr>
                                <td >{{data.category_id.category_name}}</td>
                                <td>{{data.sub_category_name}}</td>

                                <td style="text-align: center;">{% if data.sub_category_image %}
                                 <img src="{{data.sub_category_image.url}}" width="50" height="50">
                                 {% endif %}</td>
                                 
                                 <td>{{data.sub_category_code}}</td>
                            
                             
                             
                               
                               <td>
                                 
                                 <a class="me-3" href="{% url 'edit_subcategory' data.id %}">
                                    <img src="{% static 'admin_static/images/icon/edit.svg'%}" alt="img">
                                </a>
                               
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                 
                                <a class="me-3" href="{% url 'delete_subcategory' data.id %}" onclick="return confirm('Are you sure you want to delete this?')">
                                    <img src="{% static 'admin_static/images/icon/delete.svg'%}" alt="img">
                                </a>
                                
                                </td>
                              
                               {%endfor%}
                            </tr>
                           </div>
                         </tbody>
                      </table>
                      
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
</div>

<script>
   function switchFunction(id){
      window.location.href=`{{baseURL}}/change_subcategory_status/${id}`;
   }
</script>



<script>
    function fileValidation(){
      var fileInput = document.getElementById('file');
      var filePath = fileInput.value;
      var allowedExtensions = /(\.jpg|\.jpeg|\.png|\.gif)$/i;
      if(!allowedExtensions.exec(filePath)){
          alert('Please upload file having extensions .jpeg/.jpg/.png/.gif only.');
          fileInput.value = '';
          return false;
      }else{
          //Image preview
          if (fileInput.files && fileInput.files[0]) {
              var reader = new FileReader();
              reader.onload = function(e) {
                  document.getElementById('imagePreview').innerHTML = '<img src="'+e.target.result+'"/>';
              };
              reader.readAsDataURL(fileInput.files[0]);
          }
      }
  }
  </script>
 {% endblock %}