{% load static %}

<!-- Sidebar  -->
<div class="iq-sidebar">
    <div class="iq-navbar-logo d-flex justify-content-between">
       <a href="index.html" class="header-logo">
       <img src="{% static 'images/logo.png' %}" class="img-fluid rounded" alt="">
       <span>FinDash</span>
       </a>
       <div class="iq-menu-bt align-self-center">
          <div class="wrapper-menu">
             <div class="main-circle"><i class="ri-menu-line"></i></div>
             <div class="hover-circle"><i class="ri-close-fill"></i></div>
          </div>
       </div>
    </div>
    <div id="sidebar-scrollbar">
       <nav class="iq-sidebar-menu">
          <ul id="iq-sidebar-toggle" class="iq-menu">
             <li class="active">
               <li>
                  <a href="#dashboard" class="iq-waves-effect" data-toggle="collapse" aria-expanded="false">
                     <span class="ripple rippleEffect"></span>
                     <i class="ri-menu-3-line iq-arrow-left"></i><span>Dashboard</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                  <ul id="dashboard" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle" style="">
                     <li><a href="{% url 'dashboard' %}"><i class="ri-git-commit-line"></i>Dashboard</a></li>
                  </ul>
               </li><br>

               {% comment %} <a href="#dashboard" class="iq-waves-effect" data-toggle="collapse" aria-expanded="true"><span class="ripple rippleEffect"></span><i class="las la-home iq-arrow-left"></i><span>Dashboard</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                        <ul id="dashboard" class="iq-submenu collapse show" data-parent="#iq-sidebar-toggle">
                           <li class="active"><a href="{% url 'dashboard' %}"><i class="las la-laptop-code"></i>Dashboard</a></li>
                            </ul>
                     </li><br> {% endcomment %}
                    
                     
                     <li aria-expanded="true">
                        <a href="#product" class="iq-waves-effect" data-toggle="collapse" aria-expanded="false">
                           <i class="ri-menu-3-line iq-arrow-left"></i><span>Products</span>
                           <i class="ri-arrow-right-s-line iq-arrow-right"></i>
                        </a>
                        
                        <ul id="product" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                           <li><a href="{% url 'category_show' %}"><i class="ri-git-commit-line"></i>Category</a></li>
                           <li><a href="{% url 'show_subcategory' %}"><i class="ri-git-commit-line"></i>Sub Category</a></li>
                           <li><a href="{% url 'show_product' %}"><i class="ri-git-commit-line"></i>Product</a></li>    
                        </ul>
                     </li><br>
                     <li><a href="{% url 'logout' %}"><i class="ri-git-commit-line"></i>Sign out</a></li>    


                   </ul>
             </li>
           
             </li>
          </ul>
       </nav>
       <div class="p-3"></div>
    </div>
 </div>
 <!-- TOP Nav Bar -->
 <div class="iq-top-navbar">
    <div class="iq-navbar-custom">
       <nav class="navbar navbar-expand-lg navbar-light p-0">
          <div class="iq-menu-bt d-flex align-items-center">
             <div class="wrapper-menu">
                <div class="main-circle"><i class="ri-menu-line"></i></div>
                <div class="hover-circle"><i class="ri-close-fill"></i></div>
             </div>
             <div class="iq-navbar-logo d-flex justify-content-between ml-3">
                <a href="{% url 'dashboard' %}" class="header-logo">
                <img src="{% static 'images/logo.png' %}" class="img-fluid rounded" alt="">
                <span>FinDash</span>
                </a>
             </div>
          </div>
          {% comment %} <div class="iq-search-bar">
             <form action="#" class="searchbox">
                <input type="text" class="text search-input" placeholder="Type here to search...">
                <a class="search-link" href="#"><i class="ri-search-line"></i></a>
             </form>
          </div> {% endcomment %}
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"  aria-label="Toggle navigation">
          <i class="ri-menu-3-line"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
             <ul class="navbar-nav ml-auto navbar-list">
                
             </ul>
          </div>
          <ul class="navbar-list">
             <li class="line-height">
                <a href="" class="search-toggle iq-waves-effect d-flex align-items-center">
                   
                  {% comment %} <img {% if staff_obj.staff_image != None %} src="{{staff_obj.staff_image.url}}" {% else %} src="{% static 'admin_static/images/user/1.jpg' %}" {% endif %} class="img-fluid rounded mr-3" alt="user"> {% endcomment %}
                   
                   <div class="caption">
                      <h6 class="mb-0 line-height">{{datas.username}}</h6>
                      {% comment %} <p class="mb-0">Manager</p> {% endcomment %}
                   </div>
                </a>
                <div class="iq-sub-dropdown iq-user-dropdown">
                   <div class="iq-card shadow-none m-0">
                      <div class="iq-card-body p-0 ">
                         <div class="bg-primary p-3">
                            <h5 class="mb-0 text-white line-height">{{datas.first_name}}&nbsp; {{datas.last_name}}</h5>
                            {% comment %} <span class="text-white font-size-12">Available</span> {% endcomment %}
                         </div>
                         {% comment %} <a href="profile.html" class="iq-sub-card iq-bg-primary-hover">
                            <div class="media align-items-center">
                               <div class="rounded iq-card-icon iq-bg-primary">
                                  <i class="ri-file-user-line"></i>
                               </div>
                               <div class="media-body ml-3">
                                  <h6 class="mb-0 ">My Profile</h6>
                                  <p class="mb-0 font-size-12">View personal profile details.</p>
                               </div>
                            </div>
                         </a> {% endcomment %}
                         <a href="" class="iq-sub-card iq-bg-primary-hover">
                            <div class="media align-items-center">
                               <div class="rounded iq-card-icon iq-bg-primary">
                                  <i class="ri-profile-line"></i>
                               </div>
                               <div class="media-body ml-3">
                                  <h6 class="mb-0 ">Edit Profile</h6>
                                  {% comment %} <p class="mb-0 font-size-12">Modify your personal details.</p> {% endcomment %}
                               </div>
                            </div>
                         </a>
                         {% comment %} <a href="account-setting.html" class="iq-sub-card iq-bg-primary-hover">
                            <div class="media align-items-center">
                               <div class="rounded iq-card-icon iq-bg-primary">
                                  <i class="ri-account-box-line"></i>
                               </div>
                               <div class="media-body ml-3">
                                  <h6 class="mb-0 ">Account settings</h6>
                                  <p class="mb-0 font-size-12">Manage your account parameters.</p>
                               </div>
                            </div>
                         </a>
                         <a href="privacy-setting.html" class="iq-sub-card iq-bg-primary-hover">
                            <div class="media align-items-center">
                               <div class="rounded iq-card-icon iq-bg-primary">
                                  <i class="ri-lock-line"></i>
                               </div>
                               <div class="media-body ml-3">
                                  <h6 class="mb-0 ">Privacy Settings</h6>
                                  <p class="mb-0 font-size-12">Control your privacy parameters.</p>
                               </div>
                            </div>
                         </a> {% endcomment %}
                         <div class="d-inline-block w-100 text-center p-3">
                            <a class="bg-primary iq-sign-btn" href="{% url 'logout' %}" role="button">Sign out<i class="ri-login-box-line ml-2"></i></a>
                         </div>
                      </div>
                   </div>
                </div>
             </li>
          </ul>
       </nav>
    </div>
 </div>
 <!-- TOP Nav Bar END -->